<footer class="footer">
  <div class="container footer-container">
    <div class="logo-text-container">
      <a href="./index.html" class="footer-logo link">
        <svg class="footer-icon-logo" width="16" height="16">
          <use href="./img/icons.svg#icon-tdesign_cabbage"></use>
        </svg>
        <p class="footer-logo-name">Food Boutique</p>
      </a>
      <div class="footer-socials-container">
        <ul class="footer-socials-list">
          <li class="footer-list-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="footer-list-link link"
              ><svg class="footer-socials-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="footer-list-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="footer-list-link link"
              ><svg class="footer-socials-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="footer-list-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="footer-list-link link"
              ><svg class="footer-socials-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-youtube"></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-info">
      <p class="footer-shop-moto">
        Discover the Variety of Flavors and Quality
      </p>
      <p class="footer-shop-descr">
        An online store where you will find fresh, natural and delicious
        products for a healthy life and unforgettable gastronomic adventures.
      </p>
    </div>
    <div class="subscribe-container">
      <p class="subscribe-text">Subscribe and learn about new products!</p>
      <form class="send-form" id="subscriptionForm">
        <label class="send-label">
          <input
            type="email"
            class="footer-input"
            name="email"
            id="emailInput"
            placeholder="Email"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        /></label>
        <button type="submit" class="footer-send-button">Send</button>
      </form>
    </div>

    <div class="footer-rights">
      <p class="footer-all-rights">Food Boutique. All rights reserved.</p>
      <p class="footer-policy">
        <a
          href="https://en.wikipedia.org/wiki/Privacy_policy"
          target="_blank"
          rel="noopener noreferrer"
        >
          Privacy Policy
        </a>
        <span style="margin: 0 8px">/</span>
        <a
          href="https://en.wikipedia.org/wiki/Terms_of_service"
          target="_blank"
          rel="noopener noreferrer"
        >Terms of Service</a
        >
      </p>
    </div>
  </div>
</footer>
