<header>
    <div class="container header-container">
        <div class="logo">
            <a href="index.html" class="header-logo">
                <svg class="header-icon-logo" width="20" height="20">
                    <use href="..//img/icons.svg#icon-tdesign_cabbage"></use>
                </svg>
                Food Boutique
            </a>
        </div>
        <div class="header-buttons">
            <button type="button" class="home-btn">Home</button>
            <button type="button" class="cart-btn">
                <svg class="header-icon-cart" width="18" height="18">
                    <use href="..//img/icons.svg#icon-heroicons-solid_shopping-cart"></use>
                </svg>
                <span class="cart-title visually-hidden">cart</span>
            </button>
        </div>
    </div>
</header>