<header>
    <div class="container header-container">
        <div class="logo">
            <a href="index.html" class="header-logo">
                <svg class="header-icon-logo" width="20" height="20">
                    <use href="./img/icons.svg#icon-tdesign_cabbage"></use>
                </svg>
                Food Boutique
            </a>
        </div>
        <div class="header-buttons">
            <a href="index.html" class="home-btn">Home</a>
            <a href="cart.html" class="header-cart-btn">
                <svg class="header-icon-cart" width="14" height="14">
                    <use href="./img/icons.svg#icon-heroicons-solid_shopping-cart"></use>
                </svg>
                <span class="cart-title">cart</span>
            </a>
        </div>
    </div>
</header>