<section id="hero">
    <div class="container">
        <h2 class="hero-title">
            Welcome to the <span class="hero-title-span">Food</span> Boutique!
        </h2>
        <p class="hero-text">
            With Food Boutique, you're not just subscribing to food, you're signing
            up for a fresher, fitter, and happier you.
        </p>
        <picture>
            <source media="(min-width: 320px)" srcset="
            ../img/src/img/hero_img_mobile_1x-min.jpg 1x,
            ../img/hero_img_mobile_2x-min.jpg         2x
          " type="image/jpg" />
            <source media="(min-width: 768px)" srcset="
            ../img/hero_img_tablet_1x-min.jpg 1x,
            ../img/hero_img_tablet_2x-min.jpg 2x
          " type="image/jpg" />
            <source media="(min-width: 1440px)" srcset="
            ../img/hero_img_desctop_1x-min.jpg 1x,
            ../img/hero_img_desctop_2x-min.jpg 2x
          " type="image/jpg" />
            <img class="hero-img" src="../img/hero_img_mobile_1x-min.jpg" alt="Fresh vegetables" width="335" />
        </picture>
    </div>
</section>