<main>
    <section id="hero">
        <div class="container">
            <h2>Welcome to the Food Boutique!</h2>
            <p>With Food Boutique, you're not just subscribing to food, you're signing up for a fresher, fitter, and
                happier you.</p>
        </div>
    </section>
    <section id="content-block">
        <div class="container">
            <div class="filters">
                <h3 class="filter-title">Filters:</h3>
                <form>
                    <input type="text" name="search" class="search" placeholder="Search for anything" />
                    <button type="submit"><svg class="search-icon" width="16" height="16">
                            <use href="..//img/icons.svg#icon-Vector"></use>
                        </svg>
                    </button>
                </form>

                <select name="product-categories">
                    <option value="" disabled selected>Categories</option>
                    <option value="Beverages">Beverages</option>
                    <option value="Breads&_Bakery">Breads / Bakery</option>
                    <option value="Dairy">Dairy</option>
                    <option value="Deli">Deli</option>
                    <option value="Eggs">Eggs</option>
                    <option value="Fresh_Produce">Fresh Produce</option>
                    <option value="Meat_&Seafood">Meat & Seafood</option>
                    <option value="Pantry_Items">Pantry Items</option>
                    <option value="Prepared_Foods">Prepared Foods</option>
                    <option value="Snacks">Snacks</option>
                    <option value="">Show all</option>
                </select>
            </div>
        </div>
    </section>
</main>