
.icon-cart {
    display: flex;
    align-items: center;
    gap: 14px;
    padding-top: 86px;
}
.cart-quentity {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.16em;
}
.box-img {
    margin-top: 105px;
    display: flex;
    justify-content: center;
}
.cart-empty {
    padding-top: 28px;
    gap: 14px;
    text-align: center;
    padding-bottom: 120px;
}
.cart-message {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1em
}
.cart-message-info {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2em; 
    margin-top: 14px;
}
.cart-content {
    padding-top: 22px;
}

.delete-all { 
    display: flex;
    justify-content: flex-end;
}

.cart-delete-all-button {
    background: none;
  border: none;
  display: flex;
  align-items: center;
}
.cart-delete-all-button:active {
    transform: translateY(1px);
}
.cart_close_all {
    margin-right: 5px;
  }
  .products_container {
    padding: 22px 0px 80px;
  }

.products_order_container {
    padding-top: 80px;
}
.your_order {
    font-size: 32px;
    font-weight: 500;
    line-height: 1em;
}
.total-count {
    padding-top: 40px;
   
}
.total-count-div {
    display: flex;
    padding: 14px 18px;
    gap: 140px;
    border-radius: 8px;
    background: rgba(109, 132, 52, 0.05);   
    width: 335px;
    height: 60px;
}
.cart-total {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    padding-top: 12px;
}
.cart-total-sum {
    display: flex;
    gap: 8px;
}
.cart-sum {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6em;
    padding: 16px 0px 2px 0px;
}
.cart-sum-number {
    font-size: 32px;
    font-weight: 500;
    line-height: 1em;
    padding-top: 4px;
}
.order-form {
    padding-top: 30px;

}
.cart-btn {
    padding-top: 14px;
}
.cart-checkout-button {
    width: 335px;
    padding: 12px 138px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background-color: var(--main-green);
    border: none;
    color: #E8E8E2;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
}

.cart-obj {
    display: flex;
    gap: 20px;
}
.cart-delete-button {
    border: none;
    background: none;
    transform: translateY(-50%);
    right: 0;
}
.colored-text {
    color: var(--font-color);
}
.obj-delete{
    display: flex;
    justify-content: flex-end;
    transform: translateY(100%);
}
.cart-img-add {
    display: flex;
    gap: 20px;
}
.product-image {
    width: 64px;
    height: 64px;
}
.product-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1em;
    
}
.product-category-size {
    margin-top: 10px;
    gap: 8px;
    color: rgba(1, 1, 1, 0.30);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6em;
    
}
.product-price {
    margin-top: 36px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1em;
    
}
.cart-email {
    padding: 12px 0px;
    border-radius: 30px;
    border: 1px solid rgba(1, 1, 1, 0.30);
    background: var(--light-green);
    width: 335px;
    padding-left: 60px; 
}
.cart_products_list {
    gap: 20px;
    margin-top: 43px;
    overflow: auto;
    height: 650px;
}

.product-category-size {
    display: flex;
    gap: 8px;
}
.label-cart { 
    position: relative; 
  }
  
  .label-mark { 
    position: absolute; 
    transform: translateY(-50%); 
    top: 50%; 
    left: 20px; 
    color: rgba(1, 1, 1, 0.50); 
    font-size: 18px; 
    font-weight: 400; 
    line-height: 1.3em; 
  }
  
  .cart-email::placeholder { 
    color: var(--font-color); 
    font-size: 18px; 
    font-weight: 400; 
    line-height: 1.3em; 
  }
  .add-img {
    border-radius: 10px;
    background-color: var(--backgroup-light);
    width: 100px;
    height: 100px;
    display: flex;
     justify-content: center;
      align-items: center
  }
  .scroll {
    overflow-y: scroll;
  }
  .product-image-cart {
    border-radius: 10px;
    background: #FAFAFA;
    width: 100px;
    height: 100px;
  }
 
  .cart-list {
    border-bottom: 1px solid rgba(1, 1, 1, 0.10);;
    padding: 40px 0px;
}
@media (min-width: 768px) {
    .icon-cart {
        padding-top: 116px;
    }
    .cart-quentity {
        font-size: 32px;
        line-height: 1em;
    }
    .box-img{
        margin-top: 135px;
    }
    .cart-empty {
        padding-top: 40px;
        padding-bottom: 100px;
    }
    .cart-message {
        font-size: 20px;
        line-height: 1.2em
    }
    .cart-message-info {
        font-size: 18px;
        line-height: 1.3em; 
    }
    .products_container {
        padding: 31px 0px 100px;
    }
    .products_order_container {
        padding-top: 100px;
    }
    .cart_products_list {
        margin-top: 42px;
        height: 670px;
    }
    .products_container {
        gap: 100px
    }
    .total-count {
        padding-top: 40px;
    }
   .total-count-div {
         width: 590px;
         gap: 364px;
         padding: 14px 28px;
   }
   .order-form {
    display: flex;
    gap: 16px;
   }
   .cart-email {
        width: 359px;
   }
   .cart-checkout-button {
        width: 215px;
        padding: 14px;
   }
   .cart-btn {
    padding: 0px;
   }
   .product-image-cart {
    border-radius: 10px;
    width: 120px;
    height: 120px;

   }
   .product-name {
    font-size: 20px;
    line-height: 1.2em;
   }
   .product-price {
    margin-top: 46px;
    font-size: 20px;
    line-height: 1.2em;
}
    .product-category-size {
    margin-top: 12px;
}
    .cart-delete-button {
        transform: none;
    }
    .cart-delete-button:active {
        transform: translateY(0.5px);
    }
    .product-image {
        width: 72px;
        height: 72px;
    }
    .add-img {
        width: 120px;
        height: 120px;
      }
}
@media (min-width: 1440px) {
    .icon-cart {
        padding-top: 94px;
    }
    .box-img {
        margin-top: 155px;
    }
    .cart-empty {
        padding-top: 40px;
        padding-bottom: 150px;
    }
    .total-count {
        padding-top: 40px;
    }
    .order-form {
        padding-top: 30px;
        gap: 14px;
    }
    .products_container {
        padding-top: 21px;
        display: flex;
    }
    .products_order_container {
        padding-top: 92px;
        padding-bottom: 289px;

    }
    .order-form {
        display: flex;
        padding-top: 40px;
        gap: 16px;
    }
    .product-name {
        padding-right: 243px;
    }
   
}
/* ------------modal css ----------*/
.modal-cart-submit{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
.cart-modal-content{
    width: 335px;
    height: 428px; 
    padding: 40px 20px 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: #E8E8E2;
    animation: fadeIn 650ms;
    
  }
  .cart-modal-img {
    width: 140px;
    height: 140px;
    margin: auto;
    
  }
   .cart-success {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1em;
    margin-top: 40px;
    text-align: center;
   }
   
   .cart-modal-info{   
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    margin-top: 20px;
    text-align: center;
   }
   .cart-delete-modal{
    display: flex;
    justify-content: flex-end;
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    color: #555;
   }
 
  
   @media (min-width: 768px) {
    .cart-modal-content {
        width: 560px;
        height: 509px;
        padding: 80px 40px;
    }
    
   }
