svg {
  box-sizing: content-box;
}
.footer {
  background-color: var(--main-green);
  padding-top: 40px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer-logo {
  display: inline-flex;
  align-items: center;
}

.footer-logo-name {
  font-family: 'FSP DEMO - Quincy CF';
  color: #e8e8e2;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.11;
  letter-spacing: -0.02em;
}

.footer-icon-logo {
  fill: var(--main-green);
  background-color: #e8e8e2;
  padding: 6px;
  border-radius: 50%;
  margin-right: 8px;
  /* width: 28px;
  height: 28px; */
}
.footer-logo {
  align-items: center;
  justify-content: center;
}

.footer-list-item {
  width: 40px;
  height: 40px;
}

.footer-socials-container {
  margin-top: 16px;
  margin-bottom: 40px;
}
.footer-socials-list {
  display: flex;
  gap: 16px;
  flex-shrink: 0;
  align-self: flex-end;
}

.footer-socials-icon {
  fill: #e8e8e2;
  opacity: 0.8;
  border-radius: 10px;
  border: 1px solid rgba(232, 232, 226, 0.3);
  padding: 8px;
}

.footer-list-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.footer-list-link:hover,
.footer-list-link:focus {
  background: rgba(232, 232, 226, 0.2);
  border-radius: 10px;
}

.footer-info {
  margin-bottom: 80px;
  width: 335px;
}
.footer-shop-moto {
  color: #e8e8e2;
  font-family: Neue Montreal;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17; /* 116.667% */
  letter-spacing: -0.48px;
  width: 335px;
  margin-bottom: 14px;
}

.footer-shop-descr {
  color: rgba(232, 232, 226, 0.7);
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}

.subscribe-container {
  margin-bottom: 80px;
}
.subscribe-text {
  color: #e8e8e2;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
  margin-bottom: 20px;
}

.footer-send-button {
  display: flex;
  width: 335px;
  height: 42px;
  padding: 12px 149px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  border-color: #e8e8e2;
  background: #e8e8e2;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.29; /* 128.571% */
}

.footer-send-button:hover,
.footer-send-button:focus {
  color: #6d8434;
}

.footer-input {
  width: 100%;
  height: 42px;
  background-color: transparent;
 color: #E8E8E2;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  padding-left: 16px;
  line-height: 1.5;
  display: block;
  border-radius: 30px;
  border: 1px solid #e8e8e2;
  margin-bottom: 14px;
}

.footer-input::placeholder {
  color: rgba(232, 232, 226, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  
}
.send-form {
  width: 335px;
}

.footer-all-rights {
  color: #e8e8e2;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
  margin-bottom: 8px;
}
.footer-policy {
  color: #e8e8e2;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
}

/* Медіа запити */
@media screen and (min-width: 428px) {

  
}


@media screen and (min-width: 768px) {
  .footer {
  padding-right: 0;
  }

  .footer-container {
    justify-content: space-between;
  }
.footer-icon-logo {
  height: 20px;
  width: 20px;
}

.footer-logo-name {
  font-size: 24px;
}

.logo-text-container {
  margin-right: 78px;
}

.footer-socials-container {
  margin-top: 28px;
}
.footer-info {
  margin-bottom: 64px;
  width: 429px;
}
.footer-shop-moto {
  font-size: 40px;
  line-height: 1.1; 
  letter-spacing: -0.02em;
  width: 429px;
  margin-bottom: 20px;
}

.footer-shop-descr {
  font-family: Neue Montreal;
  font-size: 18px;
  line-height: 1.33;
}
.subscribe-container {
  margin-left: 275px;
  margin-bottom: 120px;
}
.subscribe-text {
font-size: 18px;
line-height: 1.33;
}
.footer-send-button {
  width: 336px;
  height: 48px;
  font-size: 16px;
  line-height: 1.5; 
}
.footer-input {
  /* width: 318px; */
  height: 48px;
  margin-bottom: 20px;
  padding-left: 18px;
}
.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.5; 
}
.footer-policy {
  margin-left: 297px;
}
.footer-rights {
  display: flex;
}
}

@media screen and (min-width: 1440px){
.footer-container {
 
  gap: 0;
}
.logo-text-container {
  margin-right: 149px;
}
.footer-info {
  margin-bottom: 128px;
  margin-right: 148px;
  width: 410px;
}
.subscribe-container{
  margin-left: 0;
}
.footer-policy {
  margin-left: 833px;
}
}




