.container.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
}

.header-logo {
  font-family: 'FSP DEMO - Quincy CF';
  color: var(--font-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px; /* 111.111% */
  letter-spacing: -0.36px;
  display: inline-flex;
  align-items: center;
}

.header-icon-logo {
  fill: var(--light-green);
  background-color: var(--main-green);
  padding: 6px;
  border-radius: 50%;
  margin-right: 8px;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.home-btn {
  color: #e8e8e2;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  padding: 10px 20px;
  background-color: var(--main-green);
  border-radius: 30px;
  border: none;
  margin-right: 6px;
}

.cart-btn {
  background-color: var(--light-green);
  border: none;
  display: inline-flex;
  align-items: center;
}

.header-icon-cart {
  fill: var(--light-green);
  background-color: var(--main-green);
  padding: 12px;
  border-radius: 50%;
  /* margin-right: 14px; */
}

.cart-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;
  display: none;
}

.logo {
  display: flex;
}

@media (min-width: 768px) {
  .cart-title {
    display: inline;
  }
}
