.container.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
}

.header-logo {
  font-family: 'FSP DEMO - Quincy CF';
  color: var(--font-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.11em;
  letter-spacing: -0.02em;
  display: inline-flex;
  align-items: center;
}

.header-icon-logo {
  fill: var(--light-green);
  background-color: var(--main-green);
  padding: 6px;
  border-radius: 50%;
  margin-right: 8px;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.home-btn {
  color: #e8e8e2;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28em;
  padding: 10px 20px;
  background-color: var(--main-green);
  border-radius: 30px;
  border: none;
  margin-right: 6px;
}

.cart-btn {
  background-color: var(--light-green);
  border: none;
  display: inline-flex;
  align-items: center;
}

.header-icon-cart {
  fill: var(--light-green);
  background-color: var(--main-green);
  padding: 12px;
  border-radius: 50%;
}

.cart-title {
  display: none;
}

.logo {
  display: flex;
}

@media (min-width: 768px) {
  .cart-title {
    display: inline;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.33em;
    text-transform: uppercase;
    padding-left: 14px;
  }

  .header-icon-cart {
    padding: 10px;
    width: 18px;
    height: 18px;
  }

  .home-btn {
    font-size: 18px;
    line-height: 1.33em;
    margin-right: 16px;
    padding: 12px 28px;
  }

  .container.header-container {
    padding-top: 24px;
  }

  .header-logo {
    font-size: 24px;
    line-height: 1em;
    letter-spacing: -0.02em;
  }

  .header-icon-logo {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 1440px) {
  .home-btn {
    margin-right: 24px;
  }
}
