.tui-page-btn {
  width: 40px;
  padding: 8px;
  border-radius: 50%;
  color: #a3a3a3;
  background-color: transparent;
  text-align: center;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.42em;
  border-color: transparent;
  cursor: pointer;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.tui-is-selected {
  background-color: var(--dark-green);
  color: white;
}

.tui-page-btn:hover {
  background-color: var(--dark-green);
  color: white;
}

.tui-page-btn:hover .arrow-icon {
  fill: #fafafa;
}


.arrow-icon {
  
}

.pag-ribbon {
  display: flex;
  max-width: 334px;
  justify-content: space-between;
  padding-top: 40px;
  align-items: center;
}

.tui-prev,
.tui-next{
  background-color: white;
}

.tui-ico-prev,
.tui-ico-next{
  fill: #a3a3a3;
}

@media screen and (min-width: 768px) {

  .pag-ribbon {
    max-width: 472px;
    padding-top: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .pag-ribbon {
    max-width: 472px;
    padding-top: 40px;
  }
}
.tui-first{
  display: none;
}
.tui-last{
  display: none;
}
