.tui-page-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #a3a3a3;
  background-color: transparent;
  text-align: center;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.42em;
  top: 50%;
  border-color: transparent;
  cursor: pointer;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.tui-is-selected,
.tui-page-btn:hover {
  color: white;
  background-color: var(--dark-green);
}

.pag-ribbon {
  display: flex;
  gap: 4px;
}

.tui-prev{
  margin-right: 10px;
}
.tui-next{
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {
  .tui-prev{
    margin-right: 70px;
  }
  .tui-next{
    margin-left: 70px;
  }
  .pag-ribbon{
    gap: 8px;
  }
}
@media only screen and (min-width: 1440px) {
  .tui-prev{
    margin-right: 70px;
  }
  .tui-next{
    margin-left: 70px;
  }
}

.tui-prev,
.tui-next{
  background-color: white;
}

.tui-ico-prev,
.tui-ico-next{
  fill: #a3a3a3;
}

.tui-prev:hover .tui-ico-prev,
.tui-next:hover .tui-ico-next{
  fill: white;
}

@media screen and (min-width: 768px) {
.pagination{
  margin-top: 50px;
}
}

@media screen and (min-width: 1440px) {
.pagination{
  margin-top: 40px;
}
}
.tui-is-disabled{
  background-color: rgb(255, 255, 255, 0.4);
  cursor:default;
}
.tui-is-disabled:hover{
  background-color: rgb(255, 255, 255, 0.4);
}
.tui-is-disabled:hover .tui-ico-prev,
.tui-is-disabled:hover .tui-ico-next{
  fill: #a3a3a3;
}

.tui-first,
.tui-last{
  display: none;
}
