.tui-page-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #a3a3a3;
  background-color: transparent;
  text-align: center;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.42em;
  top: 50%;
  border-color: transparent;
  cursor: pointer;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tui-is-selected,
.tui-page-btn:hover {
  color: white;
  background-color: var(--dark-green);
}

.pag-ribbon {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  padding-top: 40px;
}

.tui-prev{
  margin-right: 30px;
}
.tui-next{
  margin-left: 30px;
}

.tui-prev,
.tui-next{
  background-color: white;
}

.tui-ico-prev,
.tui-ico-next{
  fill: #a3a3a3;
}

.tui-prev:hover .tui-ico-prev,
.tui-next:hover .tui-ico-next{
  fill: white;
}

@media screen and (min-width: 768px) {

  .pag-ribbon {
    padding-top: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .pag-ribbon {
    padding-top: 40px;
  }
}

.tui-first,
.tui-last{
  display: none;
}
