/*
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./variables.css');
@import url('./main.css');
@import url('./footer.css');
@import url('./hero.css');
@import url('./cart.css');
@import url('./modal.css');
@import url('./pagination.css');
