/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@font-face {
  font-family: 'Neue Montreal';
  src: url(../fonts/PPNeueMontreal-Book.otf);
  font-weight: 400;
}
@font-face {
  font-family: 'Neue Montreal';
  src: url(../fonts/PPNeueMontreal-Medium.otf);
  font-weight: 500;
}

:root {
  font-family: Neue Montreal, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
