/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./variables.css');
@import url('./main.css');

@font-face {
  font-family: 'Neue Montreal';
  src: url('https://db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.eot');
  src: url('https://db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.svg#Neue Montreal Regular')
      format('svg');
}

@font-face {
  font-family: 'FSP DEMO - Quincy CF';
  src: url('https://db.onlinewebfonts.com/t/1e620c12dccfdccb1f82a507eefd1b8b.eot');
  src: url('https://db.onlinewebfonts.com/t/1e620c12dccfdccb1f82a507eefd1b8b.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/1e620c12dccfdccb1f82a507eefd1b8b.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/1e620c12dccfdccb1f82a507eefd1b8b.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/1e620c12dccfdccb1f82a507eefd1b8b.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/1e620c12dccfdccb1f82a507eefd1b8b.svg#FSP DEMO - Quincy CF Regular')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
