:root {
  --light-green: #e8e8e2;
  --main-green: #6d8434;
  --dark-green: #586f1f;
  --font-color: #010101;
  --backgroup-light: #fafafa;
}

body {
  font-family: 'Neue Montreal', sans-serif;
  background-color: var(--light-green);
}

button {
  font-family: inherit;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url(../fonts/PPNeueMontreal-Book.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url(../fonts/PPNeueMontreal-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: 'FSP DEMO - Quincy CF';
  src: url(../fonts/Fontspring-DEMO-quincycf-black.otf);
}

svg {
  box-sizing: content-box;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {    
    max-width: 1440px;
    padding: 0 100px;
  }
}
